<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title></title>
<link rel="stylesheet" href="css/jquery.mobile-1.3.1.min.css">

<!-- Extra Codiqa features -->
<link rel="stylesheet" href="codiqa.ext.css">
<link rel="stylesheet" href="css/main.css">

<!-- jQuery and jQuery Mobile -->
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.mobile-1.3.1.min.js"></script>

<!-- AngularJs -->
<script src="js/angular.min.js"></script>
<script src="js/model/home.js"></script>
<script src="js/model/usuario.js"></script>
<script src="js/model/lutador.js"></script>
<script src="js/model/evento.js"></script>

<script src="js/index.js"></script>


<!-- Extra Codiqa features -->
<script src="js/codiqa.ext.js"></script>



</head>
<body ng-app>
	<!-- Menu -->
	<div id="menu">
		<h3>Menu</h3>
		<ul>
			<li class="active"><a href="#home" class="contentLink">Home</a></li>
			<li><a href="#perfil" data-transition="slide"
				class="contentLink">Perfil</a></li>
			<li><a href="#login" data-transition="slide" class="contentLink">Login</a></li>
			<li><a href="#eventos" data-transition="slide"
				class="contentLink">Eventos</a></li>
			<li><a href="lutadores" data-transition="slide"
				class="contentLink">Lutadores </a></li>
			<li><a href="#ranking" data-transition="slide"
				class="contentLink">Ranking </a></li>
			<li><a href="#cadastroUsuario" data-transition="slide"
				class="contentLink">Cadastra-se </a></li>
		</ul>
	</div>

	<!-- HOME -->
	<div data-role="page" class="pages" id="home"
		ng-controller="homeController">
		<div id="header_bar" data-theme="a" data-role="header"
			class="header_bar">
			<a data-role="button" href="#page1" data-icon="bars"
				data-iconpos="left" class="ui-btn-left showMenu"> Menu </a> <a
				data-role="button" data-direction="reverse" data-rel="back"
				href="#page1" data-icon="arrow-l" data-iconpos="left"
				class="ui-btn-right"> Voltar </a>
			<h3>Make Your Bet</h3>
		</div>
		<div data-role="content">
			<h2>UFC 161</h2>
			<div style="text-align: center;">
				<a href="Aposta.html" data-transition="slide"> <img
					style="width: 290px; height: 130px"
					src="http://imagec.ufc.com/http%253A%252F%252Fmedia.ufc.tv%252Fgenerated_images_sorted%252F%252Ffight_173940_mediumThumbnail.png">
				</a>
			</div>
			<h5>EVANS VS. HENDERSON</h5>
			<h5>15 de Junho de 2013 20:00</h5>
			<ul data-role="listview" data-divider-theme="a" data-inset="false">
				<li data-role="list-divider" role="heading">Próximos Eventos</li>
				<li data-theme="c" ng-repeat="evento in abertos"><a
					href="evento.html?id={{evento.id}}" data-ajax="false"
					data-transition="slide"> {{evento.descricao}} </a></li>

			</ul>
			<br /> <a data-role="button" href="Eventos.html" data-icon="plus"
				data-iconpos="left"> Mais Eventos </a> <br />
			<ul data-role="listview" data-divider-theme="a" data-inset="false">
				<li data-role="list-divider" role="heading">Próximos Eventos</li>
				<li data-theme="c" ng-repeat="evento in fechados"><a
					href="evento.html?id={{evento.id}}" data-ajax="false"
					data-transition="slide"> {{evento.descricao}} </a></li>
			</ul>
			<br /> <a data-role="button" href="#page1" data-icon="plus"
				data-iconpos="left"> Mais Resultados </a> <br />
		</div>
	</div>


	<!-- RANKING -->
	<div data-role="page" class="pages" id="ranking"
		ng-controller="usuarioController">

		<div id="header_bar" data-theme="a" data-role="header"
			class="header_bar">
			<a data-role="button" href="#page1" data-icon="bars"
				data-iconpos="left" class="ui-btn-left showMenu"> Menu </a> <a
				data-role="button" data-direction="reverse" data-rel="back"
				href="#page1" data-icon="arrow-l" data-iconpos="left"
				class="ui-btn-right"> Voltar </a>
			<h3>Make Your Bet</h3>
		</div>

		<div data-role="content">

			<ul data-role="listview" data-divider-theme="a" data-inset="false">

				<li data-role="list-divider" role="heading">Ranking</li>
				<li ng-repeat="usuario in usuarios" data-theme="d"><a
					href="perfilUsuario.html?id={{usuario.id}}"
					data-id="{{usuario.id}}" data-ajax="false" data-transition="slide"
					ng-click="getUsuario()"> {{usuario.nome}}<span
						style="float: right;">{{usuario.pontos}}</span>
				</a></li>

			</ul>
		</div>
	</div>

	<!-- LOGIN -->
	<div data-role="page" class="pages" id="login"
		ng-controller="usuarioLoginController">
		<div id="header_bar" data-theme="a" data-role="header"
			class="header_bar">
			<a data-role="button" href="#page1" data-icon="bars"
				data-iconpos="left" class="ui-btn-left showMenu"> Menu </a> <a
				data-role="button" data-direction="reverse" data-rel="back"
				href="#page1" data-icon="arrow-l" data-iconpos="left"
				class="ui-btn-right"> Voltar </a>
			<h3>Make Your Bet</h3>
		</div>
		<div data-role="content">
			<div data-role="fieldcontain" class="txt_login">
				<label for="txt_login"> Login </label> <input name="txt_login"
					id="txt_login" placeholder="Digite o seu login" value=""
					type="text" data-mini="true" ng-model="usuario.login" />
			</div>
			<div data-role="fieldcontain" class="txt_senha">
				<label for="txt_senha"> Senha </label> <input name="txt_senha"
					id="txt_senha" placeholder="Digite sua senha" value=""
					type="password" data-mini="true" ng-model="usuario.senha">
			</div>
			<input type="submit" data-inline="false" value="Entrar"
				data-mini="true" ng-click="logar()" />
		</div>
	</div>

	<!-- Evento -->
	<div data-role="page" class="pages" id="eventos"
		ng-controller="eventoController">
		<div id="header_bar" data-theme="a" data-role="header"
			class="header_bar">
			<a data-role="button" href="#page1" data-icon="bars"
				data-iconpos="left" class="ui-btn-left showMenu"> Menu </a> <a
				data-role="button" data-direction="reverse" data-rel="back"
				href="#page1" data-icon="arrow-l" data-iconpos="left"
				class="ui-btn-right"> Voltar </a>
			<h3>Make Your Bet</h3>
		</div>
		<div data-role="content">
			<h2>{{evento.descricao}}</h2>
			<div style="">
				<img style="width: 290px; height: 130px"
					src="images/lutas/luta-1.png">
			</div>
			<h5>EVANS VS. HENDERSON</h5>
			<h5>15 de Junho de 2013 20:00</h5>
			<div data-role="collapsible-set" data-theme="c">
				<div data-role="collapsible" data-collapsed="false">
					<h3>Roy Nelson VS Sipe Miocic</h3>
					<p>
					<table class="fight-card">
						<tbody>
							<tr>
								<th class="col1"><span class="lut_nome">Rashad Evans</span></th>
								<th class="col2">VS</th>
								<th class="col3"><span class="lut_nome">Dan
										Henderson</span></th>
							</tr>
							<tr>
								<td class="col1">22-3-1</td>
								<td class="col2">Recorde</td>
								<td class="col3">29-9-0</td>
							</tr>
							<tr>
								<td class="col1">180.3 cm</td>
								<td class="col2">Altura</td>
								<td class="col3">185.4 cm</td>
							</tr>
							<tr>
								<td class="col1">93.0 kg</td>
								<td class="col2">Peso</td>
								<td class="col3">93.0 kg</td>
							</tr>
							<tr>
								<td class="col1last">190.5 cm</td>
								<td class="col2">Alcance</td>
								<td class="col3last">188.0 cm</td>
							</tr>
						</tbody>
					</table>
					</p>
				</div>
				<div data-role="collapsible" data-collapsed="true"
					ng-repeat="confronto in confrontos">
					<h3>{{confronto.lutador1.nome}} VS {{confronto.lutador2.nome}}
					</h3>
					<p>
					<table class="fight-card">
						<tbody>
							<tr>
								<th class="col1"><span class="lut_nome">{{confronto.lutador1.nome}}
								</span></th>
								<th class="col2">VS</th>
								<th class="col3"><span class="lut_nome">{{confronto.lutador2.nome}}
								</span></th>
							</tr>
							<tr>
								<td class="col1">22-3-1</td>
								<td class="col2">Recorde</td>
								<td class="col3">29-9-0</td>
							</tr>
							<tr>
								<td class="col1">{{confronto.lutador1.altura}}</td>
								<td class="col2">Altura</td>
								<td class="col3">{{confronto.lutador2.altura}}</td>
							</tr>
							<tr>
								<td class="col1">{{confronto.lutador1.peso}}</td>
								<td class="col2">Peso</td>
								<td class="col3">{{confronto.lutador2.peso}}</td>
							</tr>
							<tr>
								<td class="col1last">{{confronto.lutador1.envergadura}}</td>
								<td class="col2">Alcance</td>
								<td class="col3last">{{confronto.lutador2.envergadura}}</td>
							</tr>
						</tbody>
					</table>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- PERFIL -->
	<d iv data-role="page" class="pages" id="perfil"
		ng-controller="usuarioPerfilController">
	<div id="header_bar" data-theme="a" data-role="header"
		class="header_bar">
		<a data-role="button" href="#page1" data-icon="bars"
			data-iconpos="left" class="ui-btn-left showMenu"> Menu </a> <a
			data-role="button" data-direction="reverse" data-rel="back"
			href="#page1" data-icon="arrow-l" data-iconpos="left"
			class="ui-btn-right"> Voltar </a>
		<h3>Make Your Bet</h3>
	</div>
	<div data-role="content">
		<div style="text-align: center;">
			<img style="width: 280px; height: 180px"
				src="images/usuarios/{{usuario.login}}.jpg">
			<!-- <span style="float:right;">354</span> -->
		</div>

		<h4>{{usuario.nome}}</h4>
		<div class="div_coment_list">
			<h5>
				Login: <span style="font-weight: normal;">{{usuario.login}}</span>
			</h5>
			<h5>
				Email: <span style="font-weight: normal;">{{usuario.email}}</span>
			</h5>
			<h5>
				CPF: <span style="font-weight: normal;">{{usuario.cpf}}</span>
			</h5>
			<h5>
				Pontuação: <span style="font-weight: normal;">{{usuario.pontos}}</span>
			</h5>
			<h5>
				Ranking: <span style="font-weight: normal;">23º</span>
			</h5>
		</div>
		<input type="submit" data-theme="c" value="EDITAR" data-mini="true">
		<input type="submit" data-theme="c" value="EXCLUIR CONTA"
			data-mini="true">

	</div>
	</div>

	<!-- CADASTRO DE USUARIO -->
	<div data-role="page" class="pages" id="cadastroUsuario" ng-app
		ng-controller="usuarioFormController">
		<div id="header_bar" data-theme="a" data-role="header"
			class="header_bar">
			<a data-role="button" href="#page1" data-icon="bars"
				data-iconpos="left" class="ui-btn-left showMenu"> Menu </a> <a
				data-role="button" data-direction="reverse" data-rel="back"
				href="#page1" data-icon="arrow-l" data-iconpos="left"
				class="ui-btn-right"> Voltar </a>
			<h3>Make Your Bet</h3>
		</div>
		<div data-role="content">
			<h2>Cadastro</h2>
			<div data-role="fieldcontain">
				<label for="textinput1"> Nome: </label> <input name=""
					id="textinput1" placeholder="Digite o seu nome"
					value="{{usuario.nome}}" type="text" data-mini="true"
					ng-model="usuario.nome">
			</div>
			<div data-role="fieldcontain">
				<label for="textinput2"> E-mail: </label> <input name=""
					id="textinput2" placeholder="Digite o seu e-mail"
					value="{{usuario.email}}" ng-model="usuario.email" type="text"
					data-mini="true">
			</div>
			<div data-role="fieldcontain">
				<label for="textinput3"> CPF: </label> <input name=""
					id="textinput3" placeholder="Digite o seu CPF"
					value="{{usuario.cpf}}" ng-model="usuario.cpf" type="text"
					data-mini="true">
			</div>
			<div data-role="fieldcontain">
				<label for="textinput4"> Login: </label> <input name=""
					id="textinput4" placeholder="Digite seu login"
					value="{{usuario.login}}" ng-model="usuario.login" type="text"
					data-mini="true">
			</div>
			<div data-role="fieldcontain">
				<label for="textinput5"> Senha: </label> <input name=""
					id="textinput5" placeholder="Digite sua senha" value=""
					ng-model="usuario.senha" type="password" data-mini="true">
			</div>
			<div data-role="fieldcontain">
				<label for="textinput6"> Confirme sua senha: </label> <input name=""
					id="textinput6" placeholder="Confirme sua senha" value=""
					ng-model="usuario.senha" type="password">
			</div>

			<a href="" ng-click="salva()">asdfasdf</a> <input type="submit"
				data-theme="b" value="Cadastrar" data-mini="true" ng-click="salva()" />
		</div>
	</div>
</body>
</html>



<!-- Aposta -->
<!-- <div data-role="page" class="pages" id="aposta">
    <div id="header_bar" data-theme="a" data-role="header" class="header_bar">
        <a data-role="button" href="#page1" data-icon="bars" data-iconpos="left"
        class="ui-btn-left showMenu">
            Menu
        </a>
		 <a data-role="button" data-direction="reverse" data-rel="back" href="#page1"
        data-icon="arrow-l" data-iconpos="left" class="ui-btn-right">
            Voltar
        </a>
        <h3>
            Make Your Bet
        </h3>
    </div>
    <div data-role="content">
        <div style="text-align:center;">
            <img style="width: 288px; height: 154px" src="images/lutas/luta1.png">
        </div>
        <h2>
            Evans vs. Henderson
        </h2>
        <h5>
            15 de Junho de 2013 20:00
        </h5>
        <h5>
            MTS Centre
        </h5>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="fs_input_2">
                <legend>
                    Vencedor:
                </legend>
                <input id="radio4" name="" value="radio1" type="radio">
                <label for="radio4">
                    Evans
                </label>
                <input id="radio5" name="" value="radio5" type="radio">
                <label for="radio5">
                    Henderson
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="fs_input_3">
                <legend>
                    Escolha o tipo de vitória:
                </legend>
                <input id="radio1" name="" value="Finalização" type="radio">
                <label for="radio1">
                    Nocaute
                </label>
                <input id="radio2" name="" value="radio2" type="radio">
                <label for="radio2">
                    Finalização
                </label>
                <input id="radio3" name="" value="radio3" type="radio">
                <label for="radio3">
                    Pontos
                </label>
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <label for="textinput1">
                Aposta:
            </label>
            <input name="txt_aposta" id="textinput1" placeholder="Digite aqui quanto deseja apostar"
            value="" type="text" data-mini="true">
        </div>
        <input type="submit" data-theme="c" value="APOSTAR" data-mini="true">
		<br />
		<div data-role="fieldcontain" class="div_coment">
			<h3>
				Comentários
			</h3>
			<br />
			<div class="div_coment_list">
				<ul class="ul_coment_list">
					<li class="li_coment_list">
					<span class="nome_comment">Ricardo Mozart</span>
					<span class="dt_comment">Enviado em 15/07/2013 12:34</span>
					<p class="comment_desc">Certeza que Evans ganha, ele esta demonstrando um ótimo desempenho nas ultimas lutas, Vai Evans!</p>
					</li>
					<li class="li_coment_list">
					<span class="nome_comment">Diego Shibata</span>
					<span class="dt_comment">Enviado em 14/07/2013 13:56</span>
					<p class="comment_desc">Henderson Monstro!</p>
					</li>
					<li class="li_coment_list">
					<span class="nome_comment">Victor Miguel</span>
					<span class="dt_comment">Enviado em 13/07/2013 14:04</span>
					<p class="comment_desc">Henderson ganha com certeza, ele tem muita experiência comparado com o Evans, olha o histórico dos 2, não tem nem chance pro Evans.</p>
					</li>
					
				</ul>
			</div>
			<div data-role="fieldcontain" class="textarea_comentario">
				<label for="textarea_comentario">
				  Digite aqui o seu comentario:
				</label>
				<textarea name="textarea_comentario" id="textarea_comentario" placeholder="Digite aqui o seu comentário:"
				data-mini="true"></textarea>
			</div>
		</div>
    </div>
    </div>
 -->

<!-- listaLutador -->
<!-- <div data-role="page" class="pages" id="listaLutador">
    <div id="header_bar" data-theme="a" data-role="header" class="header_bar">
        <a data-role="button" href="#page1" data-icon="bars" data-iconpos="left"
        class="ui-btn-left showMenu">
            Menu
        </a>
		 <a data-role="button" data-direction="reverse" data-rel="back" href="#page1"
        data-icon="arrow-l" data-iconpos="left" class="ui-btn-right">
            Voltar
        </a>
        <h3>
            Make Your Bet
        </h3>
    </div>
    <div data-role="content">
		<h3 style="margin:5px;">
            Lutadores
        </h3>
		<br />
        <div data-role="collapsible-set" data-theme="a" data-content-theme="d">
		    <div data-role="collapsible">
                <h3>
                    Peso Pesados
                </h3>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Meio Pesado
                </h3>
                <div data-role="collapsible-set">
                    
                </div>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Medios
                </h3>
                
                    
					    <ul data-role="listview" data-divider-theme="b" data-inset="false">
                    <li data-theme="c">
					<img class="fighter-portrait" src="images/lutadores/anderson-silva.png" alt="Silva, Anderson" height="35">
						<a href="PerfilLutador.html" data-transition="slide">
						
                            Anderson Silva
							<strong class="belt-right">&nbsp;</strong>
                        </a>
						
                    </li>
                    <li data-theme="c">
					<img class="fighter-portrait" src="images/lutadores/Vitor-Belfort.png" alt="Silva, Anderson" height="35">
                        <a href="PerfilLutador.html" data-transition="slide">
						
                            Victor Belfort
                        </a>
                    </li>
					<li data-theme="c">
					<img class="fighter-portrait" src="images/lutadores/Chael-Sonnen.png" alt="Silva, Anderson" height="35">
                        <a href="PerfilLutador.html" data-transition="slide">
						Chael Sonnen
                        </a>
                    </li>
                </ul>
                
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Meio Medio
                </h3>
                
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Peso Leve
                </h3>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Peso Pena
                </h3>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Peso Galo
                </h3>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Pesos Mosca
                </h3>
                   <ul data-role="listview" data-divider-theme="b" data-inset="false">
                    <li data-theme="c">
					<img class="fighter-portrait" src="images/lutadores/Demetrious-Johnson.png" alt="Silva, Anderson" height="35">
                        <a href="PerfilLutador.html" data-transition="slide">
                            Demetrious Johnson
                        </a>
                    </li>
                    <li data-theme="c">
					<img class="fighter-portrait" src="images/lutadores/john-lineker.png" alt="Silva, Anderson" height="35">
                        <a href="PerfilLutador.html" data-transition="slide">
                            John Lineker
                        </a>
                    </li>
                </ul>
      
            </div>
        </div>
    </div>
</div> -->




<!-- perfilLutador -->
<!-- <div data-role="page" class="pages" id="perfilLutador">
    <div id="header_bar" data-theme="a" data-role="header" class="header_bar">
        <a data-role="button" href="#page1" data-icon="bars" data-iconpos="left"
        class="ui-btn-left showMenu">
            Menu
        </a>
		 <a data-role="button" data-direction="reverse" data-rel="back" href="#page1"
        data-icon="arrow-l" data-iconpos="left" class="ui-btn-right">
            Voltar
        </a>
        <h3>
            Make Your Bet
        </h3>
    </div>
    <div data-role="content">
        <div style="">
            <img style="width: 288px; height: 180px" src="http://imagec.ufc.com/http%253A%252F%252Fmedia.ufc.tv%252F%252Ffighter_images%252FRyan_Jimmo%252FRyanJimmo_Headshot.png?mw282-mh200">
        </div>
        <h2>
            Ryan Jimmo
        </h2>
        <h5>
            17-2-0 (W-L-D)
        </h5>
        <h5>
            Próxima Luta: Igor Pokrajac in UFC 161: Evans vs. Henderson
        </h5>
        <div data-role="collapsible-set">
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Informações Lutador
                </h3>
				<p style="background: rgb(253, 253, 253);border-radius: 16px;padding: 10px;">
				<span style="font-weight:bold;">Apelido:</span> Big Deal<br />
				<span style="font-weight:bold;">De:</span> St. John, New Brunswick<br />
				<span style="font-weight:bold;">Lutando por</span>: Edmonton<br />
				<span style="font-weight:bold;">Idade:</span> 31<br />
				<span style="font-weight:bold;">Altura:</span> 188.0 cm<br />
				<span style="font-weight:bold;">Peso:</span> 93.0 kg<br />
				<span style="font-weight:bold;">Weight Class:</span> Meio-Pesado<br />
				</p>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Mídia
                </h3>
            </div>
            <div data-role="collapsible" data-collapsed="false">
                <h3>
                    Histórico
                </h3>
            </div>
        </div>
    </div>
</div> -->